{% extends 'classroom/base.html' %}
{% block content %}
<h1>All Students Activity</h1>
    
    {% if students_activities %}
        <table border="1">
            <tr >
                <th style="padding: 20px;">Student</th>
                <th style="padding: 20px;">Date</th>
                <th style="padding: 20px;">Page Name</th>
                <th style="padding: 20px;">Time Spent (seconds)</th>
            </tr>
            {% for activity in students_activities %}
            <tr>
                <td style="padding: 20px;">{{ activity.student.name }}</td>
                <td style="padding: 20px;">{{ activity.date }}</td>
                <td style="padding: 20px;">
                    {% for page, time in activity.time_spent.items %}
                        {{ page }}<br>
                    {% endfor %}
                </td>
                <td style="padding: 20px;">
                    {% for page, time in activity.time_spent.items %}
                        {{ time }} <br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
     {% else %}
        <p>No student activity available.</p>
    {% endif %}

{% endblock %}
